* {
  padding: 0;
  margin: 0;
}



.navbar {
  top: 0;
  left: 0;
  right: 0;
  background: #4dc4e6;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 9999;
  font-size: 20px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.nav--list {
  width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 1%;
  font-size: 20px;
  margin: 10px;

}

.item:hover,
.active {
  z-index: 9999;
  background-color: green;
  transition: left 300ms ease, width 200ms 200ms ease;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 1%;
  border-radius: 20%;
  height: 50px;
  margin: 10px;

}

.item {
  font-size: 20px;
  position: static;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 1%;
  border-radius: 10%;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
  width: 100px;
  padding: 1%;
}

body {
  margin: auto;
  text-align: center;
  background-image: url('bg.png');
  background-color: white;
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  color: #1a5165;
}

h2 {
  color: #5288ac;
}

.animal-portrait {
  height: auto;
}

#villagers-container {
  margin: 5%;
  color: #1a5165;
}

.animal-type-portrait-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portrait-container {
  width: auto;
  margin: 0.5vh;
  color: #2e556e;
  font-weight: 500;
  filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

#download-btn {
  display: inline-block;
  padding: 10px 50px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  margin-bottom: -10px;
}

#download-btn:hover {
  background-color: #3ba5c8;
  transform: scale(1.1);
}

#download-btn:focus {
  outline: none;
}

#download-btn:active {
  transform: translateY(2px);
}

.bingo-text {
  float: right;
  background-color: white;
  max-width: 330px;
  padding: 10px;
  max-height: 600px;
}

#logo img {
  height: 10vh;
  margin: 2vh 0 0 2vw;
}

.grow {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

a#download {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.footer {
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  max-width: auto;
  font-size: 20px;
  text-align: center;
}


.social-media-container {
  position: relative;
  right: 0;
  text-align: center;
  left: 0%;
  right: 0%;
  max-width: 75%;
  text-align: center;
  height: auto;
  width: 100%;  
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
   font-weight: bolder;
  margin: 10px auto 5px; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
@media (max-width: 100px) {
  .social-media-container {
    flex-direction: column; 
  }
}
.social-media-item {
  margin-bottom: 10px;
}

.social-media-link {
  color: blue;

}

.text-block {
  text-align: center;
  height: auto;
  width: 65%;
  background-color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  border-radius: 3%;
  border: 2% solid yellowgreen;
  padding: 5%;
  margin: 80px auto 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.credits {
  height: auto;
  width: 75%;
  padding: 2%;
  max-width: 75%;
  margin: 80px auto;
  background-color: aliceblue;
  border: 2px solid yellowgreen;
  text-align: center;
  font-size: 20px;
}


.top-left-image {
  margin-right: auto;
  margin-bottom: 1rem;
}

.text-paragraph {
  padding: 1px;
  text-align: right;
  background-color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid yellowgreen;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.link-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding: 5px;
  text-align: center;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.credits-container {
  margin: 10% auto;
  padding: 0;
  width: 50%;
  background-color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-container {
  flex: 1;
}

.credits-heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.credits-list {
  list-style-type: none;
  padding: 0;
}

.credits-list-item {
  margin-bottom: 10px;
}

.credits-name {
  font-weight: bold;
}

.credits-role {
  font-style: italic;
}

.rules img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.rules {
  width: 75%;
  height: auto;
  padding-top: 10px;
  padding: 25px;
  max-width: 500px;
  margin: 80px auto;
  background-color: aliceblue;
  border: 3px solid yellowgreen;
  text-align: center;
  font-size: 20px;
}

canvas {
  max-width: 100%;
  max-height: auto;
  width: auto;
  margin-top: 10px;
}

#instructions {
  padding: 10px 100px;
  background-color: purple;
  color: white;
  border-radius: 6vh;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  font-family: Quicksand;
  font-size: 20px;
  cursor: pointer;
  max-width: 100%;
  padding: 1%;
  transition: background-color 0.3s ease;
  margin-top: -40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}
.scroll-down-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  justify-content: center;
  max-width: 300px;
  height: 50%;
  padding: 2%;
  border-radius: 6%;
  background-color: #98FB98;
  color: #36454F;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 80px;
}
.scroll-down-container:hover {
  transform: scale(1.1);



}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 5%;
  margin-top: 65px;
  
}

.villager-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  object-fit: contain;
   max-width: 900px;
   width: auto;
   gap: 10px;
   margin: 5px auto auto;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
   

@media (max-width: 768px) {
  .villager-grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    object-fit: contain;
    gap: 10px;
  }
}

.villager-name {
  font-family: quicksand;
  font-weight: bolder;
  display: block;
  text-align: center;
  margin-top: 3px;
}

.villager-grid-text {
  position: relative;
  top: 50%;
  left: 15%;
  font-size: 20px;
  width: 65%;
  max-height: auto;
  text-align: center;
}

.villager-item img {
  height: 200px; 
  width: auto;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 1px;
  margin-top: 1px;
  justify-content: flex-end; 

}







.villager-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

@media (max-width: 768px) {
  .villager-grid-item {
    margin-bottom: 5px;
   }
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin-bottom: 50px;
}

.bingo-grid-item {
  position: relative;
  padding-top: 100%;
  background-color: #ccc;
}

.bingo-item-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bingo-item-content p {
  font-size: 20px;
}

.bingo-item-content.complete {
  background-color: green;
  color: white;
}

.bingo-item-content.complete p {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .bingo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-bottom: 20px;
  }
}
.page-not-found {
  text-align: center;
  height: auto;
  width: 50%;
  font-family: 'Quicksand', sans-serif;
  border-radius: 3%;
  padding: 20px;
  margin: 120px auto 5%;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.error-page-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.error-page-text a {
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px;
  margin-bottom: 40px; 
}
.error-page-text a:hover {
  background-color: #e0e0e0;
}
.spreadsheet-button {
background-color: orange;
  color: white;
  border-radius: 6vh;
  max-height: 51px;
  text-decoration: none;
  font-weight: bold;
  font-family: Quicksand;
  font-size: 20px;
  cursor: pointer;
  width: 50%;
  max-width: 200px;
  margin: 5px auto 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  
}

.spreadsheet-button:hover {
  transform: scale(1.1);
}

